{% extends 'transtemp/base.html' %}

{% load static %}
{% block body %}

<div class="container">
    <div class="alert aiert-info ">My Stocks</div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>sl no</th>
            <th>Date</th>
            <th>Stock Name</th>
            <th>Stock Quantity</th>
            <th> Currency </th>
            <th>Stock Price</th>
            <th>Type</th>
            <th>Last Update</th>
            <th> Previous Units </th>
            <th> Cumulative Units </th>
            <th> Transacted Values</th>
            <th> Previous Cost </th>
            <th> Cost of Transaction</th>
            <th> Cost of Transaction Per Unit</th>
            <th> Cumulative Cost</th>
            <th> Gain/Losses from Sale</th>
            <th> Yield on Transaction</th>
            <th>Cash Flow </th>



        </tr>
        </thead>
        <tbody>
        {% for mystock in mystocks %}

        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ mystock.date_of_transaction }}</td>
            <td>{{ mystock.stock }}</td>
            <td>{{ mystock.transaction_unit }}</td>
            <td>{{ mystock.currency }}</td>
            <td>{{ mystock.transaction_price_perunit  }}</td>
            <td><a href="{% url 'transactions_urls:buy'%}">Sell/Buy</a></td>



        </tr>
          {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}
